.container{
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}